/* General Clases */

body {
  /* font-family: Verdana, sans-serif; */
  font-family: sans-serif;
  background: #fcfcfc;
  margin: 0;
  padding: 0;
  color: #333; 
}

p {
  line-height: 150%; 
}

a {
  color: #06b;
  text-decoration: none;
}

a img {
  border: 0; 
}

.clearfix {
  clear: both; 
}

/* Flash Messages */

div.flash {
  padding: 4px 8px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 2px solid #ccc;
  margin: 10px 0; 
}

div.error {
  background: #fcc;
  border-color: #911;
  color: #311; 
}

div.notice {
  background: #cfc;
  border-color: #191;
  color: #131; 
}

.warning {
	border: 2px dashed red;
	background: #fcc;
  border-color: #911;
  color: #311;
	margin: 5px;
	padding: 5px;
	font-size: 1.2em;
}

/* Loading */
.loading {
  left: 0;
  position: absolute;
  top: 0;
}

/* Global page elements */

#wrapper {
  padding: 1.5em 2em;
  width: 55em;
  margin: 1em auto 0.5em; 
}

#footer {
  clear: both;
  text-align: center;
  font-size: 0.8em;
  color: #666;
  padding-bottom: 1.5em; 
}

#header {
  background: white;
  margin-bottom: 10px;
  padding: 5px;
}

#header #title {
  float: left;
}

#header h1 {
  font-size: 2.5em;
  margin: 0;
  padding: 0;
}
  
#header h1 a {
  color: #057;
  text-decoration: none; 
}

#header #sub_heading {
  font-style: italic;
}

#header #user_bar {
  float: right;
  text-align: right;
}

#header #user_bar img {
  vertical-align: middle; 
  margin-bottom: 5px;
}

#header #user_bar #user_actions {
  background: #eee;
  border-radius: 4px;
  padding: 3px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

#header #user_bar small {
  margin-top: 5px;
}

#header #user_bar small * {
  color: #888;
}

#header #user_bar small a {
  margin: 0 5px;
}

/* Non-timeline page classes */

.static_page {
  background: white;
}

.static_page h3 {
  text-decoration: underline;
  margin: 10px 0;
}

.static_page ul {
  list-style: none;
}

/* Welcome Page */

#welcome {
  float: left;
  width: 55em;
}

#welcome .login {
  float: right;
}

#welcome form {
  display: inline;
}

#welcome img.example {
  clear: both;
  width: 55%;
}

#welcome #add_new_spoiler {
  margin-top: 10px;
  padding: 5px;
  clear: both;
}

#welcome #add_new_spoiler h3 {
  display: inline;
  font-size: 1.15em;
  padding: 5px 5px 5px 5px;
  text-decoration: none;
}

#welcome #add_new_spoiler input[type=text] {
  font-size: 1.5em;
}

#welcome #add_new_spoiler input[type=submit] {
  font-size: 1.1em;
}

#welcome #add_new_spoiler #spoiler_explination {
  font-size: 0.8em;
  color: #888;
  padding: 10px;
}

#welcome #other_tags {
  float: left;
  width: 100%;
  margin-top: 20px;
  border-top: 1px solid #aaa;
  background: #E2E2D6;
}

#welcome #other_tags a {
  color: #7D7721;
}

#welcome #other_tags div {
  float: left;
  padding: 20px;
}

/* About Page */

#about {
	padding: 10px;
}


/* Timeline */

#contents {
  float: left;
  width: 880px;
  margin-bottom: 20px;
}

#contents table {
  padding: 0;
  margin: 0;
  border-collapse: collapse;
}

#contents table #top_row {
  height: 7px;
  font-size: 0em;
}

#contents table tr {
  vertical-align: top;
}

/* Side content */

#side #side_container {
  background: #f1f1f1;
  border-radius: 4px;
  margin-left: 3px;
  padding: 0px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

#side a {
  color: #7D7721;
}

#side .side_content {
	padding: 5px;
}

#side h3 {
  color: #666;
  margin: 5px 0;
}

#side h3 a {
  font-size: 0.6em;
  text-decoration: none;
}

#side ul {
  margin: 0 0 0 5px;
  padding: 0;
  list-style: none;
}

#side ul li {
  margin-bottom: 4px;
}

#side #side_container #spoiler_tags {
  background: #D9EFFA;
  margin-bottom: 10px;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius:4px 4px 0 0;
}

#side #spoiler_tags a[data-method=delete] {
  color: #FC8383;
  font-size: 0.8em;
}

#side #new_spoiler {
  margin-bottom: 10px;
}

#side #lists a {
  font-size: 0.8em;
  margin-bottom: 3px;
  font-weight: normal;
}

#side #twitter_trends a {
  font-size: 0.8em;
  margin-bottom: 3px;
  font-weight: normal;
}

#side #twitter_trends #update_trends {
  color: green;
  font-size: 0.6em;
}

#side input[type=text] {
	font-size: 1.25em;
	width: 210px;
	border: 1px solid #888;
	border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

#side input[type=text].default_input {
  border-color: #ccc;
  color: #888;
  width: 210px;  
}

#side #rate_limit {
	border-top: 1px dashed #888;
	color: #666;
	margin-top: 10px;
	padding: 5px;
	font-size: 0.6em;
}

#side #options label {
  font-size: 0.7em;
}

/* Main timeline content */

#timeline {
  background: white;
  width: 640px;
  padding: 0px 10px 5px 10px;
  margin-bottom: 10px;
}

#timeline #post_tweet {
  margin-bottom: 20px;
  padding: 0 5px 5px 5px;
}

#timeline #post_tweet textarea {
  font-size: 1.2em;
  height: 60px;
  width: 98%;
  padding: 5px;
  border: 1px solid #ccc;
  overflow: auto;
  font-family: sans-serif;
  margin-bottom: 5px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

#timeline #post_tweet #remaining_characters {
  color: green;
  font-size: 1.2em;
}

#timeline #post_tweet #remaining_characters.over {
  color: red;
}

#timeline #post_tweet input[type=submit] {
  float: right;
  border: 1px solid #888;
  font-size: 18px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

#timeline #updated_tweets .tweet {
}

#updated_tweets .new {
  border: 1px solid yellow;
}

.tweet {
  /*border-bottom: 1px solid #ccc;*/
	padding: 10px 0px;
	width: 620px;
	overflow: hidden;
	margin-bottom: 2px;
}

.tweet:hover {
  background: #eee;
}

.tweet .user_info {
	display: block;
	height: 50px;
	margin: 0 10px 0 0;
	overflow: hidden;
	position: absolute;
	width: 50px;
}

.tweet .tweet_text {
	display: block;
	margin-left: 56px;
	min-height: 48px;
	overflow: hidden;
}

.tweet.retweet .user_info {
  width: 110px;
}

.tweet.retweet .tweet_text {
  margin-left: 116px;
}

.tweet a {
	text-decoration: none;
}

.tweet .user_image {
  float: left;
  margin-right: 5px;
	margin-left: 2px;
}

.tweet .action {
  font-size: 0.75em;
}


.tweet.redacted {
	border: 2px solid;
  background: #fee;
  border-color: #fbb;
  color: #311;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

.tweet.redacted a.action {
  float: right;
  margin: 10px;
}

.tweet small {
  color: #888;
  font-size: 0.7em;
}

.tweet small a {
  text-decoration: none;
  color: #777;
}

.tweet .hidden_controls {
  float: right;
  font-size: 0.75em;
}

.tweet .hidden_controls a {
  margin-left: 5px;
}

.tweet .reply {
  
}

/* Get more link */

#contents #get_more {
  text-align: center;
  padding: 20px;
}