body {
  font-family: Verdana, sans-serif;
  background: #cef;
  margin: 0;
  padding: 0;
  color: #333; 
}

p {
  line-height: 150%; 
}

a {
  color: #06b;
  text-decoration: none;
}

a img {
  border: 0; 
}

.clearfix {
  clear: both; 
}

div.flash {
  padding: 4px 8px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 2px solid #ccc;
  margin: 10px 0; 
}

div.error {
  background: #fcc;
  border-color: #911;
  color: #311; 
}

div.notice {
  background: #cfc;
  border-color: #191;
  color: #131; 
}

.warning {
	border: 2px dashed red;
	background: #fcc;
  border-color: #911;
  color: #311;
	margin: 5px;
	padding: 5px;
	font-size: 1.2em;
}

#welcome {
  padding: 5px;
}

#welcome form {
  display: inline;
}

#about {
	padding: 10px;
}

#wrapper {
  padding: 1.5em 2em;
  width: 55em;
  margin: 1em auto 0.5em; 
}

#footer {
  clear: both;
  text-align: center;
  font-size: 0.8em;
  color: #666;
  padding-bottom: 1.5em; }

#header {
  background: white;
  border-radius: 1em;
  -moz-border-radius: .5em .5em 0 0;
  -webkit-border-radius: .5em .5em 0 0;
  margin-bottom: 10px;
  padding: 5px;
	border: 1px solid;
	border-color: #888;
}

#header #title {
  float: left;
}

#header h1 {
  font-size: 3em;
  margin: 0;
  padding: 0;
}
  
#header h1 a {
    color: #057;
    text-decoration: none; 
}

#header #sub_heading {
  font-style: italic;
}

#header #user_bar {
  float: right;
  margin-top: 1.2em; }

#header #user_bar img {
  vertical-align: middle; 
}

#contents {
  float: left;
  width: 880px;
}

#contents table {
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  /* border-width: 0 2px;
  border-color: #888;
  border-style: solid; */
}

#contents table #top_row {
  height: 7px;
  font-size: 0em;
}

#contents table tr {
  vertical-align: top;
}

#side {
  background: #f8f8f8 url(/images/side_bg.png) repeat-y scroll 0 0;
  padding: 15px 0 0 10px;
  border-color: #bbb;
  border-style: solid solid solid none;
  border-width: 1px 1px 1px 0;
}

#side .side_content {
	padding: 5px;
}

#side h3 {
  text-decoration: underline;
  margin: 10px 0;
}

#side #new_spoiler {
  padding: 5px;
}

#side #lists a {
  font-size: 0.8em;
  margin-bottom: 3px;
  font-weight: normal;
}

#side #lists a:hover {
  text-decoration: underline;
}

#side #spoiler_name {
	font-size: 1.25em;
	width: 210px;
	border: 1px solid #888;
}

#side #rate_limit {
	border-top: 1px dashed #888;
	color: #666;
	margin-top: 10px;
	padding: 5px;
	font-size: 0.6em;
}


#timeline {
  background: white;
  width: 640px;
  padding: 5px 10px 5px 10px;
  margin-bottom: 10px;
  border-color: #bbb;
  border-style: solid solid solid solid;
  border-width: 1px 1px 1px 1px;
}

.tweet {
  border-bottom: 1px solid #ccc;
  float: left;
  clear: both;
	padding: 10px 0px;
	width:100%;
	margin-bottom: 2px;
}

.tweet .user_info {
	display:block;
	height:50px;
	margin:0 10px 0 0;
	overflow:hidden;
	position:absolute;
	width:50px;
}

.tweet .tweet_text {
	display:block;
	margin-left:56px;
	min-height:48px;
	overflow:hidden;
}

.tweet a {
	text-decoration: none;
}

.tweet .user_image {
  float: left;
  margin-right: 5px;
	margin-left: 2px;
}

.tweet .tweet_text {
}

.tweet .action {
  font-size: 0.75em;
}


.tweet.redacted {
	border: 2px solid;
  background: #fcc;
  border-color: #911;
  color: #311;
}

.tweet small {
  color: #888;
  font-size: 0.7em;
}

.tweet small a {
  text-decoration: none;
  color: #777;
}

#get_more {
  text-align: center;
}