<div id="welcome">
  <% if logged_in? %>
  <p>
    <%= render "users/form", :user => current_user %> or <%= link_to "go to my timeline", timeline_path %>
  </p>
  <% end %>

  <% if @users.any? %>
		<div id="recent_users">
	    <h2>Recently Joined</h2>
	    <% for user in @users %>
	      <%= link_to profile_image(user), twitter_profile_url(user) %>
	    <% end %>
		</div>
  <% end %>
</div>
