<h2>Welcome to Spoiler Free Twitter!</h2>

<p>
  This is a super pre-alpha service, don't expect to have any acceptable level of service, security, or functionality.
</p>

<% if @users.any? %>
  <h2>Recently Joined</h2>
  <% for user in @users %>
    <%= link_to profile_image(user), twitter_profile_url(user) %>
  <% end %>
<% end %>
