#post_tweet
	- form_for :tweet, :html => { :id => "new_tweet_form" } do |f|
		= f.hidden_field :in_reply_to_status_id
		= f.text_area :status, :id => :new_tweet
		%span#remaining_characters 140
		= f.submit "Post to Twitter"

:javascript
	$("new_tweet").observe("keyup", function() {
		var tl = this.value.length;
		$("remaining_characters").update(140 - tl);
		
		if (tl > 140) {
			$("remaining_characters").addClassName("over");
		} else if (tl <= 140 && $("remaining_characters").hasClassName("over")) {
				$("remaining_characters").removeClassName("over");
		}
	});
	
	$("new_tweet_form").observe("submit", function(post_tweet) { 
		if ($("new_tweet").value.length > 140) { 
			alert("Status update is too long"); 
			post_tweet.stop();
		}
	});